body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    color: brown;
  }
  
  .image-done {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #0e0808;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
  }

  .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .step {
    width: 48%; /* Adjust this value to control the width of each step */
    margin-bottom: 20px;
  }
  
  .step-image {
    width: 100;
    height: 100;
    object-fit: cover;
  }
  


  * h4 {
    color: rgb(49, 0, 211);
    background-position: 0dvb;
    
 }

 * body {
  background-color: #20afdea2;

 }

